# TABLAS RIPS

## Carga de los datos

#### NOTA: Este código solo se deberia ejecutar si se tiene una buena maquina, debido a que por la cantidad de registros puede tardar un tiempo considerable y quizas quedarse sin memoeria, en la ultima ejecución se tuvo que reiniciar el servidor.

Este jupyter notebook esta generando las tablas sobre un año de la fuente de datos RIP

Para cada año se debe editar la ruta para la lectura del archivo inicial y las 9 rutas correspondientes a la ruta de cada tablet al crear los archivos de tipo parquet

In [1]:
from pyspark.sql import SparkSession

# Crear una sesión de Spark
spark = SparkSession.builder.appName("GeneraciónTablasRips_Todoslosdatos").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/13 20:40:31 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

ruta general de los parquets

In [2]:
#Cargo todos los parquets con los datos de RIPS

ruta = "/rawdata/rips/rips_parquet_*/"
df1_parquet = spark.read.parquet(ruta)

In [4]:
df=df1_parquet

In [5]:
# Contar el número de registros en el DataFrame unido
total_registros = df.count()

# Listar las columnas del DataFrame unido
columnas = df.columns

# Mostrar resultados
print(f"Total de registros en el DataFrame unido: {total_registros}")
print(f"Columnas del DataFrame unido: {columnas}")

Total de registros en el DataFrame unido: 4262860903
Columnas del DataFrame unido: ['personaid', 'tipoeventoripsdesc', 'codigo', 'dxprincipal', 'dxegreso', 'finalidadprocedimientoscd', 'finalidadconsultacd', 'tipousuariocd', 'causaexternacd', 'prestador', 'estadosalidacd', 'tipodiagnosticoprincipalcd', 'codigoprocedimiento', 'municipiocd', 'fechaid', 'edad', 'sexodesc', 'costoconsulta', 'costoprocedimiento', 'numerodiasestancia', '__null_dask_index__']

In [6]:
# Contar el número de registros - da satisfactoriamente la cantidad de registros de toda la fuente RIPS 4’262.860.903 registros 
record_count = df.count()

# Mostrar el número de registros
print(f"El número de registros en el archivo es: {record_count}")

El número de registros en el archivo es: 4262860903

In [7]:
# Contar el número total de columnas en el DataFrame ( no se tiene en cuenta neto a pagar)
total_columns = len(df.columns)

# Imprimir el número total de columnas
print("Número total de columnas en el DataFrame:", total_columns)

Número total de columnas en el DataFrame: 21

In [8]:
# Mostrar el esquema (columnas y tipos de datos)
df.printSchema()

# Listar las columnas
print(df.columns)

root
 |-- personaid: string (nullable = true)
 |-- tipoeventoripsdesc: string (nullable = true)
 |-- codigo: string (nullable = true)
 |-- dxprincipal: string (nullable = true)
 |-- dxegreso: string (nullable = true)
 |-- finalidadprocedimientoscd: string (nullable = true)
 |-- finalidadconsultacd: string (nullable = true)
 |-- tipousuariocd: string (nullable = true)
 |-- causaexternacd: string (nullable = true)
 |-- prestador: string (nullable = true)
 |-- estadosalidacd: string (nullable = true)
 |-- tipodiagnosticoprincipalcd: string (nullable = true)
 |-- codigoprocedimiento: string (nullable = true)
 |-- municipiocd: string (nullable = true)
 |-- fechaid: string (nullable = true)
 |-- edad: string (nullable = true)
 |-- sexodesc: string (nullable = true)
 |-- costoconsulta: string (nullable = true)
 |-- costoprocedimiento: string (nullable = true)
 |-- numerodiasestancia: string (nullable = true)
 |-- __null_dask_index__: long (nullable = true)

['personaid', 'tipoeventoripsdesc', 'codigo', 'dxprincipal', 'dxegreso', 'finalidadprocedimientoscd', 'finalidadconsultacd', 'tipousuariocd', 'causaexternacd', 'prestador', 'estadosalidacd', 'tipodiagnosticoprincipalcd', 'codigoprocedimiento', 'municipiocd', 'fechaid', 'edad', 'sexodesc', 'costoconsulta', 'costoprocedimiento', 'numerodiasestancia', '__null_dask_index__']

# Empieza el proceso de generación de los datos agrupados por atenciones

#La siguiente consulta tarda más de una hora parar todos los registros ( 20 min aprox con 2022)

In [371]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.window import Window

# Crear una sesión de Spark
spark = SparkSession.builder.appName("DataFrame agrupado").getOrCreate()


# Cargar el archivo Parquet en un DataFrame
#df = df1

# Seleccionar solo las columnas deseadas (sin 'personaid_count' ya que no existe aún)
columns_to_keep = [
    'personaid', 'codigoprocedimiento', 'tipoeventoripsdesc', 'fechaid',
    'sexodesc', 'tipodiagnosticoprincipalcd', 'edad', 'dxegreso', 'dxprincipal', 'municipiocd'
]
df_filtered = df.select(*columns_to_keep)

# Agregar una nueva columna con el recuento distintivo de 'personaid'
window_spec = Window.partitionBy('personaid')
df_filtered = df_filtered.withColumn('personaid_count', F.count('personaid').over(window_spec))

# Mostrar las primeras filas del DataFrame filtrado para verificar
df_filtered.show()

# Mostrar los nombres de las columnas filtradas para verificar
#print("Nombres de las columnas filtradas:")
#print(df_filtered.columns)

# Agrupar por la columna 'personaid'
grouped_df = df_filtered.groupBy('personaid').agg(
    F.first('codigoprocedimiento').alias('codigoprocedimiento'),
    F.first('tipoeventoripsdesc').alias('tipoeventoripsdesc'),
    F.first('fechaid').alias('fechaid'),
    F.first('sexodesc').alias('sexodesc'),
    F.first('tipodiagnosticoprincipalcd').alias('tipodiagnosticoprincipalcd'),
    F.first('edad').alias('edad'),
    F.first('dxegreso').alias('dxegreso'),
    F.first('dxprincipal').alias('dxprincipal'),
    F.first('municipiocd').alias('municipiocd'),
    F.first('personaid_count').alias('personaid_count')
)

# Mostrar las primeras filas del DataFrame agrupado para verificar
grouped_df.show()

24/08/13 20:03:56 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+---------+-------------------+--------------------+--------+---------+--------------------------+----+--------+-----------+-----------+---------------+
|personaid|codigoprocedimiento|  tipoeventoripsdesc| fechaid| sexodesc|tipodiagnosticoprincipalcd|edad|dxegreso|dxprincipal|municipiocd|personaid_count|
+---------+-------------------+--------------------+--------+---------+--------------------------+----+--------+-----------+-----------+---------------+
| 10000667|             937000|PROCEDIMIENTOS DE...|20091008|MASCULINO|                      null|  85|       0|       G219|      68001|             18|
| 10000667|             937000|PROCEDIMIENTOS DE...|20091005|MASCULINO|                      null|  85|       0|       G219|      68001|             18|
| 10000667|             937000|PROCEDIMIENTOS DE...|20091014|MASCULINO|                      null|  85|       0|       G219|      68001|             18|
| 10000667|             937000|PROCEDIMIENTOS DE...|20091006|MASCULINO|                      null|  85|       0|       G219|      68001|             18|
| 10000667|             937000|PROCEDIMIENTOS DE...|20091009|MASCULINO|                      null|  85|       0|       G219|      68001|             18|
| 10000667|             937000|PROCEDIMIENTOS DE...|20091007|MASCULINO|                      null|  85|       0|       G219|      68001|             18|
| 10000667|             937000|PROCEDIMIENTOS DE...|20091013|MASCULINO|                      null|  85|       0|       G219|      68001|             18|
| 10000667|             937000|PROCEDIMIENTOS DE...|20091015|MASCULINO|                      null|  85|       0|       G219|      68001|             18|
| 10000667|             937000|PROCEDIMIENTOS DE...|20090108|MASCULINO|                      null|  84|       0|       G219|      68001|             18|
| 10000667|             937000|PROCEDIMIENTOS DE...|20090105|MASCULINO|                      null|  84|       0|       G219|      68001|             18|
| 10000667|             937000|PROCEDIMIENTOS DE...|20090109|MASCULINO|                      null|  84|       0|       G219|      68001|             18|
| 10000667|             937000|PROCEDIMIENTOS DE...|20090106|MASCULINO|                      null|  84|       0|       G219|      68001|             18|
| 10000667|             937000|PROCEDIMIENTOS DE...|20090107|MASCULINO|                      null|  84|       0|       G219|      68001|             18|
| 10000667|             937000|PROCEDIMIENTOS DE...|20090107|MASCULINO|                      null|  84|       0|       G219|      68001|             18|
| 10000667|             937000|PROCEDIMIENTOS DE...|20090105|MASCULINO|                      null|  84|       0|       G219|      68001|             18|
| 10000667|             937000|PROCEDIMIENTOS DE...|20090106|MASCULINO|                      null|  84|       0|       G219|      68001|             18|
| 10000667|             937000|PROCEDIMIENTOS DE...|20090109|MASCULINO|                      null|  84|       0|       G219|      68001|             18|
| 10000667|             937000|PROCEDIMIENTOS DE...|20090108|MASCULINO|                      null|  84|       0|       G219|      68001|             18|
| 10000670|             892901|PROCEDIMIENTOS DE...|20091127| FEMENINO|                      null|  58|       0|          1|      17380|             29|
| 10000670|             892901|PROCEDIMIENTOS DE...|20091127| FEMENINO|                      null|  57|       0|          1|      17380|             29|
+---------+-------------------+--------------------+--------+---------+--------------------------+----+--------+-----------+-----------+---------------+
only showing top 20 rows

+---------+-------------------+--------------------+--------+---------+--------------------------+----+--------+-----------+-----------+---------------+
|personaid|codigoprocedimiento|  tipoeventoripsdesc| fechaid| sexodesc|tipodiagnosticoprincipalcd|edad|dxegreso|dxprincipal|municipiocd|personaid_count|
+---------+-------------------+--------------------+--------+---------+--------------------------+----+--------+-----------+-----------+---------------+
| 10000667|             937000|PROCEDIMIENTOS DE...|20091008|MASCULINO|                      null|  85|       0|       G219|      68001|             18|
| 10000670|                  1|   HOSPITALIZACIONES|20091207| FEMENINO|                      null|  58|    N390|       N390|      17380|             29|
| 10002095|             890202|           CONSULTAS|20090407| FEMENINO|                         1|  67|       0|       K589|      19001|             16|
| 10002373|             890201|           CONSULTAS|20090414|MASCULINO|                         2|  23|       0|       J303|      11001|              1|
|  1000240|             890201|           CONSULTAS|20090121| FEMENINO|                         2|  45|       0|       R42X|      76113|              1|
| 10002874|             890201|           CONSULTAS|20090623|MASCULINO|                         1|  35|       0|       J304|      05579|              3|
|  1000394|             890301|           CONSULTAS|20090717|MASCULINO|                         3|   4|       0|       B829|      13001|              1|
| 10004909|             890201|           CONSULTAS|20090511| FEMENINO|                         2|  77|       0|       I10X|      15109|              4|
| 10005493|                  1|           URGENCIAS|20090202| FEMENINO|                      null|  31|       0|       R101|      13001|              5|
| 10006237|             890201|           CONSULTAS|20090401| FEMENINO|                         1|  13|       0|       Z000|      68547|              3|
| 10006941|             997300|PROCEDIMIENTOS DE...|20090907|MASCULINO|                      null|  35|       0|       K089|      11001|              4|
| 10007253|                  1|           URGENCIAS|20091128|MASCULINO|                      null|  24|       0|       A09X|      20001|              1|
|  1000760|             890305|           CONSULTAS|20090218| FEMENINO|                         2|   2|       0|       Z761|      85001|             16|
| 10007983|             890305|           CONSULTAS|20090129|MASCULINO|                         1|   7|       0|       Z002|      47570|              2|
| 10008201|             890202|           CONSULTAS|20090724|MASCULINO|                         2|   2|       0|       Z001|      68081|              2|
| 10008327|             890207|           CONSULTAS|20090515| FEMENINO|                         2|  29|       0|       H522|      76001|              5|
| 10008866|             890301|           CONSULTAS|20090416| FEMENINO|                         3|  59|       0|       Z760|      76863|             14|
| 10009148|             904902|PROCEDIMIENTOS DE...|20091117| FEMENINO|                      null|  50|       0|          1|      05001|              3|
| 10009620|             902210|PROCEDIMIENTOS DE...|20090922| FEMENINO|                      null|  27|       0|       K359|      50313|             14|
| 10009632|             902213|PROCEDIMIENTOS DE...|20090702| FEMENINO|                      null|  12|       0|       Z003|      76828|             10|
+---------+-------------------+--------------------+--------+---------+--------------------------+----+--------+-----------+-----------+---------------+
only showing top 20 rows

In [372]:
# Contar el número de registros - me da satisfactoriamente la cantidad de regustros en cada año da 73'357.494 llego hasta stage 18
#llega a 30'434.249 con 2022
record_count = grouped_df.count()


# Mostrar el número de registros
print(f"El número de registros en el dataframe es: {record_count}")

El número de registros en el dataframe es: 17314834

Se generan un total de 73'357.494 registros (todos) para el año 2022 son 30'434.249  registros

In [373]:
 df_final =grouped_df

In [374]:
# Contar el número de registros 
record_count = df_final.count()

# Mostrar el número de registros
print(f"El número de registros en el archivo Parquet es: {record_count}")

El número de registros en el archivo Parquet es: 17314834

In [375]:
# Mostrar las primeras filas del DataFrame agrupado para verificar
df_final.show(19)

+---------+-------------------+--------------------+--------+---------+--------------------------+----+--------+-----------+-----------+---------------+
|personaid|codigoprocedimiento|  tipoeventoripsdesc| fechaid| sexodesc|tipodiagnosticoprincipalcd|edad|dxegreso|dxprincipal|municipiocd|personaid_count|
+---------+-------------------+--------------------+--------+---------+--------------------------+----+--------+-----------+-----------+---------------+
| 10000667|             937000|PROCEDIMIENTOS DE...|20091008|MASCULINO|                      null|  85|       0|       G219|      68001|             18|
| 10000670|             892901|PROCEDIMIENTOS DE...|20091127| FEMENINO|                      null|  58|       0|          1|      17380|             29|
| 10002095|             890202|           CONSULTAS|20090407| FEMENINO|                         1|  67|       0|       K589|      19001|             16|
| 10002373|             890201|           CONSULTAS|20090414|MASCULINO|                         2|  23|       0|       J303|      11001|              1|
|  1000240|             890201|           CONSULTAS|20090121| FEMENINO|                         2|  45|       0|       R42X|      76113|              1|
| 10002874|             931000|PROCEDIMIENTOS DE...|20090623|MASCULINO|                      null|  35|       0|       J304|      05579|              3|
|  1000394|             890301|           CONSULTAS|20090717|MASCULINO|                         3|   4|       0|       B829|      13001|              1|
| 10004909|             890201|           CONSULTAS|20090511| FEMENINO|                         2|  77|       0|       I10X|      15109|              4|
| 10005493|             890701|           CONSULTAS|20090202| FEMENINO|                         1|  31|       0|       A64X|      13001|              5|
| 10006237|             890201|           CONSULTAS|20090401| FEMENINO|                         1|  13|       0|       Z000|      68547|              3|
| 10006941|             997300|PROCEDIMIENTOS DE...|20090907|MASCULINO|                      null|  35|       0|       K089|      11001|              4|
| 10007253|                  1|           URGENCIAS|20091128|MASCULINO|                      null|  24|       0|       A09X|      20001|              1|
|  1000760|             890305|           CONSULTAS|20090218| FEMENINO|                         2|   2|       0|       Z761|      85001|             16|
| 10007983|             890305|           CONSULTAS|20090129|MASCULINO|                         1|   7|       0|       Z002|      47570|              2|
| 10008201|             890202|           CONSULTAS|20090724|MASCULINO|                         2|   2|       0|       Z001|      68081|              2|
| 10008327|             890207|           CONSULTAS|20090515| FEMENINO|                         2|  29|       0|       H522|      76001|              5|
| 10008866|             890301|           CONSULTAS|20090416| FEMENINO|                         3|  59|       0|       Z760|      76863|             14|
| 10009148|             904902|PROCEDIMIENTOS DE...|20091117| FEMENINO|                      null|  50|       0|          1|      05001|              3|
| 10009620|             890701|           CONSULTAS|20090926| FEMENINO|                         1|  27|       0|       R51X|      50313|             14|
+---------+-------------------+--------------------+--------+---------+--------------------------+----+--------+-----------+-----------+---------------+
only showing top 19 rows

In [376]:
#se escribe el parquet - No lo hago por que seria todos los datos por atenciones, mejor solo de cada tabla
#df_final.write.parquet("hdfs:/analyticsdata/todoRips.parquet")

# Empieza el proceso de generación de tablas

In [377]:
# Cargar el archivo Parquet en un DataFrame
df2 = df_final

## 1. Agrupado por año y mes

# intento 2 Si ejecutar

In [378]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.window import Window

# Crear una sesión de Spark 
#spark = SparkSession.builder.appName("DataFrameTablas ").getOrCreate()


# Cargar el archivo Parquet en un DataFrame
#df2 = df_final

In [379]:
# Contar el número de registros - me da satisfactoriamente la cantidad de regustros en cada año 
record_count = df2.count()

# Mostrar el número de registros
print(f"El número de registros en el archivo Parquet es: {record_count}")

El número de registros en el archivo Parquet es: 17314834

In [380]:
# Mostrar el esquema (columnas y tipos de datos)
df2.printSchema()

# Listar las columnas
print(df2.columns)

root
 |-- personaid: string (nullable = true)
 |-- codigoprocedimiento: string (nullable = true)
 |-- tipoeventoripsdesc: string (nullable = true)
 |-- fechaid: string (nullable = true)
 |-- sexodesc: string (nullable = true)
 |-- tipodiagnosticoprincipalcd: string (nullable = true)
 |-- edad: string (nullable = true)
 |-- dxegreso: string (nullable = true)
 |-- dxprincipal: string (nullable = true)
 |-- municipiocd: string (nullable = true)
 |-- personaid_count: long (nullable = true)

['personaid', 'codigoprocedimiento', 'tipoeventoripsdesc', 'fechaid', 'sexodesc', 'tipodiagnosticoprincipalcd', 'edad', 'dxegreso', 'dxprincipal', 'municipiocd', 'personaid_count']

# resultado final agrupado año y mes, según el numero de personas y atenciones

In [381]:
# Seleccionar solo las columnas deseadas
columns_to_keep = [
    'personaid', 'codigoprocedimiento', 'tipoeventoripsdesc', 'fechaid',
    'sexodesc', 'tipodiagnosticoprincipalcd', 'edad', 'dxegreso', 'dxprincipal', 'municipiocd', 'personaid_count'
]
df_filtered = df2.select(*columns_to_keep)

# Convertir 'fechaid' a tipo fecha si es necesario
df_filtered = df_filtered.withColumn('fechaid', F.to_date('fechaid', 'yyyyMMdd'))

# Extraer año y mes de la columna 'fechaid'
df_filtered = df_filtered.withColumn('Año', F.year('fechaid'))
df_filtered = df_filtered.withColumn('Mes', F.month('fechaid'))

# Agrupar por año y mes
result_df = df_filtered.groupBy('Año', 'Mes').agg(
    F.countDistinct('personaid').alias('Número_de_Personas'),
    F.sum('personaid_count').alias('Número_de_Atenciones')
)

# Filtrar para mostrar los resultados de enero para comprobar
#result_january = result_df.filter((F.col('Año') == 2022) & (F.col('Mes') == 1))

# Mostrar los resultados para enero
#result_january.show()

# Mostrar las primeras filas del DataFrame completo para verificar
result_df.show()

# Imprimir los nombres de las columnas agrupadas para verificar
#print("Nombres de las columnas agrupadas:")
#print(result_df.columns)

+----+----+------------------+--------------------+
| Año| Mes|Número_de_Personas|Número_de_Atenciones|
+----+----+------------------+--------------------+
|2009|   4|           1401013|            12993231|
|2009|  10|           1301917|            11326896|
|2009|   9|           1537800|            14553472|
|2009|   6|           1366923|            12859201|
|2009|   3|           1581714|            13559072|
|2009|   1|           1538189|            12856988|
|2009|   2|           1451804|            12407530|
|2009|  12|           1377687|            11945323|
|2009|   8|           1398744|            13115232|
|2009|  11|           1345855|            11570363|
|2009|   7|           1592431|            14665408|
|2009|   5|           1420755|            13027561|
|null|null|                 2|                   2|
+----+----+------------------+--------------------+

In [382]:
result_df.show()

+----+----+------------------+--------------------+
| Año| Mes|Número_de_Personas|Número_de_Atenciones|
+----+----+------------------+--------------------+
|2009|   4|           1401527|            13037919|
|2009|  10|           1297923|            11379429|
|2009|   9|           1539961|            14600612|
|2009|   6|           1367806|            12616338|
|2009|   3|           1583948|            13611956|
|2009|   1|           1540094|            12874130|
|2009|   2|           1454861|            12478654|
|2009|  12|           1376048|            11807962|
|2009|   8|           1398431|            13080691|
|2009|  11|           1341906|            11513278|
|2009|   7|           1591560|            14738774|
|2009|   5|           1420767|            13140534|
|null|null|                 2|                   2|
+----+----+------------------+--------------------+

Modificar el nombre del archivo segun corresponda el año

### Importante modificar el nombre de los archivos antes de ejecutar segun el año que corresponda

In [383]:
#se escribe el parquet tabla 1
result_df.write.parquet("hdfs:/analyticsdata/1.Tabla_anio_mes_atenciones_Todos.parquet")

# 2. Agrupado por año, mes y sexo

In [384]:

# Seleccionar solo las columnas deseadas
columns_to_keep = [
    'personaid', 'codigoprocedimiento', 'tipoeventoripsdesc', 'fechaid',
    'sexodesc', 'tipodiagnosticoprincipalcd', 'edad', 'dxegreso', 'dxprincipal', 'municipiocd', 'personaid_count'
]
df_filtered = df2.select(*columns_to_keep)

# Convertir 'fechaid' a tipo fecha si es necesario
df_filtered = df_filtered.withColumn('fechaid', F.to_date('fechaid', 'yyyyMMdd'))

# Extraer año y mes de la columna 'fechaid'
df_filtered = df_filtered.withColumn('Año', F.year('fechaid'))
df_filtered = df_filtered.withColumn('Mes', F.month('fechaid'))

# Agrupar por año, mes y sexodesc
result_df = df_filtered.groupBy('Año', 'Mes', 'sexodesc').agg(
    F.countDistinct('personaid').alias('Número_de_Personas'),
    F.sum('personaid_count').alias('Número_de_Atenciones')
)

# Mostrar los resultados
result_df.show(100)

# Imprimir los nombres de las columnas agrupadas para verificar
print("Nombres de las columnas agrupadas:")
print(result_df.columns)

+----+----+-----------+------------------+--------------------+
| Año| Mes|   sexodesc|Número_de_Personas|Número_de_Atenciones|
+----+----+-----------+------------------+--------------------+
|2009|   8|   FEMENINO|            790112|             8341582|
|2009|   2|  MASCULINO|            604769|             4387755|
|2009|   7|   FEMENINO|            905826|             9347695|
|2009|   7|  MASCULINO|            673328|             5237076|
|2009|   4|       null|             11488|               80251|
|2009|   9|   FEMENINO|            869371|             9395415|
|2009|  10|       null|             10386|               69137|
|2009|   9|       null|             12716|               86888|
|2009|   3|   FEMENINO|            905253|             8678124|
|2009|  12|  MASCULINO|            564164|             4242733|
|2009|   6|       null|             11389|               89278|
|2009|   4|  MASCULINO|            586327|             4757885|
|2009|  10|  MASCULINO|            536993|             4040358|
|2009|   6|NO DEFINIDO|                50|                 171|
|2009|   6|   FEMENINO|            775595|             8119102|
|2009|   3|  MASCULINO|            662669|             4822683|
|2009|   3|       null|             12831|               82806|
|2009|   1|       null|             11380|               71581|
|2009|   2|       null|             11220|               73707|
|2009|   8|  MASCULINO|            596441|             4682679|
|2009|   5|  MASCULINO|            602309|             4645303|
|2009|  12|       null|             10242|               68055|
|2009|  11|  MASCULINO|            550731|             4059116|
|2009|  11|   FEMENINO|            784048|             7421979|
|2009|   8|       null|             11918|               80618|
|2009|  11|       null|             10343|               67115|
|2009|   2|   FEMENINO|            837343|             7958435|
|2009|   7|       null|             13139|               87772|
|2009|  12|   FEMENINO|            802872|             7669620|
|2009|   1|   FEMENINO|            887012|             8263284|
|2009|   5|   FEMENINO|            806606|             8292578|
|2009|   5|       null|             11816|               89054|
|2009|  10|   FEMENINO|            753032|             7291720|
|2009|   4|   FEMENINO|            803374|             8230366|
|2009|   9|  MASCULINO|            656427|             5078880|
|2009|   1|  MASCULINO|            640274|             4494870|
|2009|   6|  MASCULINO|            580396|             4472483|
|2009|   3|NO DEFINIDO|                75|                 224|
|2009|  11|NO DEFINIDO|                51|                 210|
|2009|   4|NO DEFINIDO|                64|                 255|
|2009|  10|NO DEFINIDO|                52|                 239|
|2009|   7|NO DEFINIDO|                51|                 205|
|2009|   2|NO DEFINIDO|                54|                 205|
|2009|   9|NO DEFINIDO|                75|                 204|
|2009|   8|NO DEFINIDO|                69|                 211|
|2009|   1|NO DEFINIDO|                63|                 148|
|2009|  12|NO DEFINIDO|                44|                  91|
|2009|   5|NO DEFINIDO|                44|                 131|
|null|null|       null|                 2|                   2|
+----+----+-----------+------------------+--------------------+

Nombres de las columnas agrupadas:
['Año', 'Mes', 'sexodesc', 'Número_de_Personas', 'Número_de_Atenciones']

In [385]:
#se escribe el parquet tabla 2
result_df.write.parquet("hdfs:/analyticsdata/2.Tabla_anio_mes_sexo_Todos.parquet")

# 3. Agrupado por año, mes y municipio

In [386]:

# Seleccionar solo las columnas deseadas
columns_to_keep = [
    'personaid', 'codigoprocedimiento', 'tipoeventoripsdesc', 'fechaid',
    'sexodesc', 'tipodiagnosticoprincipalcd', 'edad', 'dxegreso', 'dxprincipal', 'municipiocd', 'personaid_count'
]
df_filtered = df2.select(*columns_to_keep)

# Convertir 'fechaid' a tipo fecha si es necesario
df_filtered = df_filtered.withColumn('fechaid', F.to_date('fechaid', 'yyyyMMdd'))

# Extraer año y mes de la columna 'fechaid'
df_filtered = df_filtered.withColumn('Año', F.year('fechaid'))
df_filtered = df_filtered.withColumn('Mes', F.month('fechaid'))

# Agrupar por año, mes y municipioid
result_df = df_filtered.groupBy('Año', 'Mes', 'municipiocd').agg(
    F.countDistinct('personaid').alias('Número_de_Personas'),
    F.sum('personaid_count').alias('Número_de_Atenciones')
)

# Mostrar los resultados
result_df.show(100)

# Imprimir los nombres de las columnas agrupadas para verificar
print("Nombres de las columnas agrupadas:")
print(result_df.columns)

+----+---+-----------+------------------+--------------------+
| Año|Mes|municipiocd|Número_de_Personas|Número_de_Atenciones|
+----+---+-----------+------------------+--------------------+
|2009|  1|      41396|              2114|               10421|
|2009|  1|      23090|               324|                2950|
|2009|  9|      76020|               771|                5083|
|2009|  2|      20787|               351|                2859|
|2009| 11|      23090|              1288|                8116|
|2009|  9|      25506|               172|                 993|
|2009|  3|      52573|               380|                4424|
|2009|  3|      15740|               167|                 765|
|2009| 11|      25769|               338|                3240|
|2009|  1|      05607|               290|                1656|
|2009|  3|      25486|               305|                1971|
|2009|  6|      23686|               762|                2651|
|2009|  2|      25486|               206|                1475|
|2009| 12|      70717|               167|                2236|
|2009| 12|      15296|               454|                2500|
|2009| 11|      73283|               613|                2536|
|2009|  1|      73226|               211|                1346|
|2009|  3|      54223|               237|                1837|
|2009|  7|      81065|               309|                1115|
|2009|  5|      41797|               442|                3091|
|2009| 10|      19318|               279|                1793|
|2009|  1|      52254|               213|                2582|
|2009|  6|      68327|                72|                 456|
|2009|  3|      76113|               491|                3193|
|2009|  9|      73443|              1020|               13472|
|2009|  5|      41396|              2433|               14338|
|2009|  1|      44430|              1551|               10278|
|2009|  1|      52573|               580|                5644|
|2009|  1|      08433|              2658|               16481|
|2009|  4|      05642|               727|                6921|
|2009| 12|      19532|              2621|               47251|
|2009| 10|      20770|               616|                2925|
|2009|  6|      50577|               430|                2108|
|2009| 11|      68271|               155|                 534|
|2009|  7|      13268|               474|                1871|
|2009|  9|      63470|               176|                1306|
|2009| 12|      54206|               120|                 381|
|2009|  5|      15087|               426|                2350|
|2009|  2|      17001|             13063|              110297|
|2009|  7|      81794|              1215|                8491|
|2009|  1|      15001|              9442|               83527|
|2009| 10|      52885|               701|                8272|
|2009|  7|      41770|               625|                4483|
|2009|  9|      05607|               429|                3138|
|2009|  5|      17541|               679|               18743|
|2009|  5|      68318|               533|                3014|
|2009|  4|      41013|               141|                 662|
|2009|  2|      86320|               335|                1779|
|2009| 12|      15798|               210|                1707|
|2009|  3|      15189|               219|                1952|
|2009|  8|      05125|               277|                 786|
|2009|  5|      13620|               248|                1485|
|2009|  7|      66001|             21541|              245417|
|2009| 10|      76563|              2315|               20559|
|2009|  1|      76111|              5152|               46764|
|2009|  5|      41872|               145|                 982|
|2009|  8|      13212|               509|                2229|
|2009|  4|      52022|               162|                2455|
|2009|  4|      25817|              1094|                8537|
|2009| 12|      73124|               805|                4349|
|2009|  6|      47161|               493|                2208|
|2009|  3|      52378|              1027|               12911|
|2009|  4|      76400|               245|                2070|
|2009|  2|      15814|               215|                1477|
|2009| 12|      47660|               575|                1146|
|2009|  6|      86749|               322|                2162|
|2009|  5|      05361|               420|                4590|
|2009| 10|      86865|               291|                2579|
|2009|  4|      05129|              4455|               50642|
|2009| 10|      70001|             11171|               72570|
|2009|  7|      08296|              1987|               20570|
|2009| 11|      05679|              1236|                8848|
|2009|  1|      52473|               313|                4336|
|2009|  1|      70678|              1053|                3298|
|2009|  4|      76109|              6274|               59182|
|2009|  6|      05147|              1669|               17888|
|2009|  4|      86569|                55|                 177|
|2009| 10|      68615|               438|                2201|
|2009| 12|      05690|               308|                1193|
|2009| 10|      05212|              1532|               16026|
|2009| 10|      19743|              1578|                5262|
|2009| 12|      52405|              1413|                9865|
|2009|  4|      20045|               452|                4411|
|2009|  6|      68176|               138|                 993|
|2009|  8|      15380|               115|                1999|
|2009|  1|      81736|               476|                1718|
|2009| 11|      23464|               287|                1019|
|2009|  2|      05697|               301|                2056|
|2009|  3|      05101|              1850|                5587|
|2009|  8|      20013|              1624|               17603|
|2009|  6|      47605|               464|                2658|
|2009|  1|      41770|               789|                6444|
|2009| 12|      19698|              2812|               37027|
|2009| 11|      05837|              1855|               18283|
|2009| 11|      76563|              2570|               18885|
|2009| 11|      25320|               819|                7819|
|2009|  5|      05318|              1351|               14177|
|2009|  2|      66075|               421|                3932|
|2009|  3|      13657|               735|                8014|
|2009|  6|      05150|               280|                1285|
+----+---+-----------+------------------+--------------------+
only showing top 100 rows

Nombres de las columnas agrupadas:
['Año', 'Mes', 'municipiocd', 'Número_de_Personas', 'Número_de_Atenciones']

In [387]:
#se escribe el parquet tabla 3
result_df.write.parquet("hdfs:/analyticsdata/3.Tabla_anio_mes_municipio_Todos.parquet")

# 4. Agrupado por año, mes y tipoeventoripsdesc

In [388]:
# Seleccionar solo las columnas deseadas
columns_to_keep = [
    'personaid', 'codigoprocedimiento', 'tipoeventoripsdesc', 'fechaid',
    'sexodesc', 'tipodiagnosticoprincipalcd', 'edad', 'dxegreso', 'dxprincipal', 'municipiocd', 'personaid_count'
]
df_filtered = df2.select(*columns_to_keep)

# Convertir 'fechaid' a tipo fecha si es necesario
df_filtered = df_filtered.withColumn('fechaid', F.to_date('fechaid', 'yyyyMMdd'))

# Extraer año y mes de la columna 'fechaid'
df_filtered = df_filtered.withColumn('Año', F.year('fechaid'))
df_filtered = df_filtered.withColumn('Mes', F.month('fechaid'))

# Agrupar por año, mes y tipoeventoripsdesc
result_df = df_filtered.groupBy('Año', 'Mes', 'tipoeventoripsdesc').agg(
    F.countDistinct('personaid').alias('Número_de_Personas'),
    F.sum('personaid_count').alias('Número_de_Atenciones')
)

# Mostrar los resultados
result_df.show(100)

# Imprimir los nombres de las columnas agrupadas para verificar
print("Nombres de las columnas agrupadas:")
print(result_df.columns)

+----+----+--------------------+------------------+--------------------+
| Año| Mes|  tipoeventoripsdesc|Número_de_Personas|Número_de_Atenciones|
+----+----+--------------------+------------------+--------------------+
|2009|   1|   HOSPITALIZACIONES|             21025|              270452|
|2009|   6|           CONSULTAS|            931099|             7700408|
|2009|   2|PROCEDIMIENTOS DE...|            408456|             4218743|
|2009|   8|PROCEDIMIENTOS DE...|            398817|             4629864|
|2009|  10|PROCEDIMIENTOS DE...|            442420|             4246999|
|2009|   4|           CONSULTAS|            977157|             8031547|
|2009|  11|PROCEDIMIENTOS DE...|            485866|             4436310|
|2009|   4|           URGENCIAS|             33484|              340359|
|2009|  12|           URGENCIAS|             38004|              385069|
|2009|   2|   HOSPITALIZACIONES|             16824|              261764|
|2009|   9|PROCEDIMIENTOS DE...|            431495|             4767776|
|2009|   9|   HOSPITALIZACIONES|             20084|              425671|
|2009|   6|           URGENCIAS|             48048|              432563|
|2009|  12|           CONSULTAS|            812500|             6276239|
|2009|   9|           URGENCIAS|             51280|              440714|
|2009|   3|PROCEDIMIENTOS DE...|            440763|             4640437|
|2009|   7|           URGENCIAS|             53074|              488805|
|2009|   5|           CONSULTAS|            971801|             7926375|
|2009|   7|           CONSULTAS|           1073299|             8775633|
|2009|   5|           URGENCIAS|             42148|              410534|
|2009|   8|           CONSULTAS|            930637|             7956855|
|2009|   7|PROCEDIMIENTOS DE...|            449890|             5022904|
|2009|  10|   HOSPITALIZACIONES|             23608|              368876|
|2009|  12|PROCEDIMIENTOS DE...|            508957|             4968561|
|2009|  10|           URGENCIAS|             47966|              419672|
|2009|  10|           CONSULTAS|            786490|             6337581|
|2009|   3|   HOSPITALIZACIONES|             18557|              307592|
|2009|   2|           URGENCIAS|             30120|              289100|
|2009|   6|   HOSPITALIZACIONES|             16435|              318871|
|2009|   1|           URGENCIAS|             37085|              317814|
|2009|  11|   HOSPITALIZACIONES|             23273|              351366|
|2009|  11|           CONSULTAS|            800415|             6261773|
|2009|   3|           CONSULTAS|           1080984|             8281922|
|2009|   5|PROCEDIMIENTOS DE...|            390196|             4337877|
|2009|   9|           CONSULTAS|           1036403|             8907162|
|2009|   3|           URGENCIAS|             42187|              382121|
|2009|   2|           CONSULTAS|            998581|             7652912|
|2009|  12|   HOSPITALIZACIONES|             18868|              334507|
|2009|   1|PROCEDIMIENTOS DE...|            424896|             4265433|
|2009|   1|           CONSULTAS|           1051765|             7955216|
|2009|   4|PROCEDIMIENTOS DE...|            372786|             4286195|
|2009|   6|PROCEDIMIENTOS DE...|            370501|             4260328|
|2009|   4|   HOSPITALIZACIONES|             16141|              311337|
|2009|   5|   HOSPITALIZACIONES|             17033|              322398|
|2009|   8|           URGENCIAS|             55327|              469262|
|2009|   8|   HOSPITALIZACIONES|             16282|              388044|
|2009|   7|   HOSPITALIZACIONES|             16545|              342187|
|2009|  11|           URGENCIAS|             35260|              356149|
|null|null|                null|                 2|                   2|
+----+----+--------------------+------------------+--------------------+

Nombres de las columnas agrupadas:
['Año', 'Mes', 'tipoeventoripsdesc', 'Número_de_Personas', 'Número_de_Atenciones']

In [389]:
#se escribe el parquet tabla 4
result_df.write.parquet("hdfs:/analyticsdata/4.Tabla_anio_mes_tipoeventoripsdesc_Todos.parquet")

# 5. Agrupado por año, mes y tipodiagnosticoprincipalcd

In [390]:
# Seleccionar solo las columnas deseadas
columns_to_keep = [
    'personaid', 'codigoprocedimiento', 'tipoeventoripsdesc', 'fechaid',
    'sexodesc', 'tipodiagnosticoprincipalcd', 'edad', 'dxegreso', 'dxprincipal', 'municipiocd', 'personaid_count'
]
df_filtered = df2.select(*columns_to_keep)

# Convertir 'fechaid' a tipo fecha si es necesario
df_filtered = df_filtered.withColumn('fechaid', F.to_date('fechaid', 'yyyyMMdd'))

# Extraer año y mes de la columna 'fechaid'
df_filtered = df_filtered.withColumn('Año', F.year('fechaid'))
df_filtered = df_filtered.withColumn('Mes', F.month('fechaid'))

# Agrupar por año, mes y tipodiagnosticoprincipalcd
result_df = df_filtered.groupBy('Año', 'Mes', 'tipodiagnosticoprincipalcd').agg(
    F.countDistinct('personaid').alias('Número_de_Personas'),
    F.sum('personaid_count').alias('Número_de_Atenciones')
)

# Mostrar los resultados
result_df.show(100)

# Imprimir los nombres de las columnas agrupadas para verificar
print("Nombres de las columnas agrupadas:")
print(result_df.columns)

+----+----+--------------------------+------------------+--------------------+
| Año| Mes|tipodiagnosticoprincipalcd|Número_de_Personas|Número_de_Atenciones|
+----+----+--------------------------+------------------+--------------------+
|2009|   6|                         2|            283054|             2135755|
|2009|   2|                         1|            524852|             3898398|
|2009|  12|                         1|            420070|             3108949|
|2009|   3|                         1|            556479|             4167619|
|2009|   4|                      null|            424501|             5131799|
|2009|  10|                      null|            516514|             5181543|
|2009|   9|                         1|            548132|             4515160|
|2009|   9|                      null|            506740|             5595877|
|2009|   1|                         2|            312842|             2161180|
|2009|   1|                         3|            188347|             1681122|
|2009|   7|                         1|            563199|             4440139|
|2009|  11|                         2|            236584|             1732582|
|2009|   5|                         3|            159123|             1583198|
|2009|   6|                      null|            438084|             5071661|
|2009|   1|                         1|            553724|             4145795|
|2009|  12|                         3|            153793|             1417332|
|2009|   6|                         3|            153435|             1497401|
|2009|   4|                         3|            168894|             1659639|
|2009|   3|                      null|            503072|             5346839|
|2009|   1|                      null|            484695|             4889752|
|2009|   2|                      null|            456137|             4841998|
|2009|  10|                         2|            234052|             1738486|
|2009|   5|                         1|            516448|             4122265|
|2009|  11|                         3|            143319|             1369208|
|2009|  12|                      null|            568579|             5804837|
|2009|  10|                         1|            414961|             3257931|
|2009|   8|                         3|            152794|             1573314|
|2009|   8|                      null|            471964|             5497874|
|2009|  11|                         1|            415765|             3131163|
|2009|   5|                         2|            294241|             2224592|
|2009|   6|                         1|            493298|             3928936|
|2009|  11|                      null|            547387|             5111544|
|2009|   7|                      null|            522381|             5879728|
|2009|   4|                         2|            295968|             2225145|
|2009|   3|                         2|            330524|             2341648|
|2009|   5|                      null|            451393|             5134480|
|2009|   9|                         2|            312745|             2389860|
|2009|   7|                         3|            181026|             1818072|
|2009|   8|                         1|            497657|             4029256|
|2009|  12|                         2|            234277|             1711927|
|2009|   2|                         2|            292609|             2100477|
|2009|  10|                         3|            133067|             1314411|
|2009|   2|                         3|            179296|             1630401|
|2009|   4|                         1|            511219|             4154142|
|2009|   8|                         2|            277579|             2153762|
|2009|   7|                         2|            325589|             2532681|
|2009|   9|                         3|            171681|             1785895|
|2009|   3|                         3|            192742|             1714504|
|null|null|                      null|                 2|                   2|
+----+----+--------------------------+------------------+--------------------+

Nombres de las columnas agrupadas:
['Año', 'Mes', 'tipodiagnosticoprincipalcd', 'Número_de_Personas', 'Número_de_Atenciones']

In [391]:
#se escribe el parquet tabla 5
result_df.write.parquet("hdfs:/analyticsdata/5.Tabla_anio_mes_tipodiagnosticoprincipalcd_Todos.parquet")

# 6. Agrupado por año, mes y dxprincipal

In [392]:
# Seleccionar solo las columnas deseadas
columns_to_keep = [
    'personaid', 'codigoprocedimiento', 'tipoeventoripsdesc', 'fechaid',
    'sexodesc', 'tipodiagnosticoprincipalcd', 'edad', 'dxegreso', 'dxprincipal', 'municipiocd', 'personaid_count'
]
df_filtered = df2.select(*columns_to_keep)

# Convertir 'fechaid' a tipo fecha si es necesario
df_filtered = df_filtered.withColumn('fechaid', F.to_date('fechaid', 'yyyyMMdd'))

# Extraer año y mes de la columna 'fechaid'
df_filtered = df_filtered.withColumn('Año', F.year('fechaid'))
df_filtered = df_filtered.withColumn('Mes', F.month('fechaid'))

# Agrupar por año, mes y dxprincipal
result_df = df_filtered.groupBy('Año', 'Mes', 'dxprincipal').agg(
    F.countDistinct('personaid').alias('Número_de_Personas'),
    F.sum('personaid_count').alias('Número_de_Atenciones')
)

# Mostrar los resultados
result_df.show(100)

# Imprimir los nombres de las columnas agrupadas para verificar
print("Nombres de las columnas agrupadas:")
print(result_df.columns)

+----+---+-----------+------------------+--------------------+
| Año|Mes|dxprincipal|Número_de_Personas|Número_de_Atenciones|
+----+---+-----------+------------------+--------------------+
|2009|  1|       R42X|              6406|               55591|
|2009|  2|       D252|                57|                 629|
|2009|  7|       E782|              3873|               38509|
|2009|  3|       S025|              1209|                9173|
|2009|  6|       M791|              2376|               15153|
|2009|  4|       O800|              1825|               36747|
|2009|  3|       J219|              2641|               30203|
|2009| 11|       S923|               133|                 968|
|2009| 12|       Z018|              1358|               18789|
|2009|  2|       I279|                45|                 396|
|2009| 12|       S800|              1001|                5900|
|2009|  4|       B351|               541|                3666|
|2009|  9|       M708|                53|                 583|
|2009|  4|       S317|                15|                 388|
|2009| 10|       N946|               615|                3597|
|2009|  5|       R491|                 6|                  62|
|2009| 12|       I861|               474|                1947|
|2009| 10|       S903|               279|                1464|
|2009| 11|       M948|               137|                 785|
|2009|  4|       F209|               177|                1352|
|2009|  9|       S300|               187|                1547|
|2009|  3|       Z278|               343|                3679|
|2009|  2|       N393|               253|                2783|
|2009| 10|       Z370|               535|                5515|
|2009| 12|       Q173|                10|                  37|
|2009|  7|       K510|                 9|                  74|
|2009| 10|       Z981|                 6|                  45|
|2009|  4|       M519|                69|                 670|
|2009|  3|       H571|               376|                2382|
|2009|  9|       Z768|              6596|              116729|
|2009|  4|       L050|                47|                 313|
|2009| 12|       H520|              2131|               13335|
|2009|  9|       H110|              2999|               15778|
|2009|  2|       S019|              1120|                7681|
|2009|  3|       K590|              2512|               17733|
|2009| 12|       M815|                52|                 688|
|2009|  7|       A90X|               833|                8747|
|2009| 11|       E65X|                47|                 737|
|2009| 11|       N340|                15|                  70|
|2009|  7|       I842|               407|                3062|
|2009|  4|       N341|               323|                1901|
|2009|  1|       S835|               280|                2854|
|2009|  6|       H527|              2315|               11417|
|2009|  5|       L509|               823|                5419|
|2009|  7|       S118|                34|                 142|
|2009|  2|       P942|                 9|                  84|
|2009| 12|       W548|                40|                 180|
|2009| 12|       S618|               208|                1218|
|2009|  9|       C07X|                 8|                 119|
|2009|  7|       X327|                 1|                   3|
|2009| 11|       E100|                26|                 732|
|2009|  7|       E739|                70|                 495|
|2009|  3|       T908|                20|                 119|
|2009|  5|       S117|                 8|                 180|
|2009|  5|       L208|               597|                3399|
|2009| 12|       H438|                56|                 270|
|2009|  1|       N645|               402|                3537|
|2009|  8|       Z309|              2222|               21727|
|2009|  7|       S800|              1135|                7428|
|2009| 11|       E669|              3626|               31696|
|2009| 12|       L209|              3573|               16976|
|2009|  5|       I843|               108|                 796|
|2009|  2|       O009|               134|                2056|
|2009| 11|       N809|               117|                1250|
|2009|  7|       S500|               410|                3007|
|2009| 10|       Z359|              2831|               57285|
|2009| 10|       R739|               372|                3212|
|2009|  1|       M670|                16|                  73|
|2009|  4|       S801|               172|                1056|
|2009| 11|       A499|               114|                1453|
|2009| 10|       T742|                89|                 654|
|2009| 11|       O16X|                93|                2904|
|2009|  1|       D225|                62|                 380|
|2009| 12|       T310|                38|                 396|
|2009|  8|       K210|               611|                7108|
|2009| 11|       E038|               207|                2420|
|2009|  1|       B082|               107|                 673|
|2009| 11|       P599|               916|                6644|
|2009|  6|       S051|               117|                 652|
|2009|  6|       S014|               228|                1129|
|2009|  5|       B432|                24|                 122|
|2009|  3|       S721|                56|                1385|
|2009|  5|       K801|                87|                1741|
|2009|  7|       E780|              2026|               19820|
|2009|  5|       R102|              3150|               34904|
|2009|  7|       H813|              2703|               25233|
|2009| 10|       M679|               150|                 856|
|2009|  1|       N819|               182|                2120|
|2009|  8|       Z008|              2435|               26051|
|2009|  2|       R11X|              3888|               27066|
|2009|  9|       Z629|                22|                 135|
|2009|  1|       L020|               446|                2159|
|2009|  1|       K004|               295|                2050|
|2009|  6|       Z299|               487|                2060|
|2009|  4|       B309|               229|                1620|
|2009| 12|       N328|                28|                 253|
|2009|  7|       S069|               588|                7417|
|2009|  2|       N649|               227|                1649|
|2009|  1|       F203|               199|                1308|
|2009| 10|       K522|               169|                1079|
+----+---+-----------+------------------+--------------------+
only showing top 100 rows

Nombres de las columnas agrupadas:
['Año', 'Mes', 'dxprincipal', 'Número_de_Personas', 'Número_de_Atenciones']

In [393]:
#se escribe el parquet tabla 6
result_df.write.parquet("hdfs:/analyticsdata/6.Tabla_anio_mes_dxprincipal_Todos.parquet")

# 7. Agrupado por año, mes y codigoprocedimiento

In [394]:
# Seleccionar solo las columnas deseadas
columns_to_keep = [
    'personaid', 'codigoprocedimiento', 'tipoeventoripsdesc', 'fechaid',
    'sexodesc', 'tipodiagnosticoprincipalcd', 'edad', 'dxegreso', 'dxprincipal', 'municipiocd', 'personaid_count'
]
df_filtered = df2.select(*columns_to_keep)

# Convertir 'fechaid' a tipo fecha si es necesario
df_filtered = df_filtered.withColumn('fechaid', F.to_date('fechaid', 'yyyyMMdd'))

# Extraer año y mes de la columna 'fechaid'
df_filtered = df_filtered.withColumn('Año', F.year('fechaid'))
df_filtered = df_filtered.withColumn('Mes', F.month('fechaid'))

# Agrupar por año, mes y codigoprocedimiento
result_df = df_filtered.groupBy('Año', 'Mes', 'codigoprocedimiento').agg(
    F.countDistinct('personaid').alias('Número_de_Personas'),
    F.sum('personaid_count').alias('Número_de_Atenciones')
)

# Mostrar los resultados
result_df.show(100)

# Imprimir los nombres de las columnas agrupadas para verificar
print("Nombres de las columnas agrupadas:")
print(result_df.columns)

+----+---+-------------------+------------------+--------------------+
| Año|Mes|codigoprocedimiento|Número_de_Personas|Número_de_Atenciones|
+----+---+-------------------+------------------+--------------------+
|2009|  7|             890409|               826|                8449|
|2009|  5|             902204|               542|                8862|
|2009|  4|             241101|                 2|                  23|
|2009| 11|             881502|                61|                 313|
|2009| 11|             901102|                29|                 414|
|2009|  7|             954107|               725|                5892|
|2009|  5|             990213|                25|                 174|
|2009|  7|             882101|                 8|                 518|
|2009|  5|             939400|              1140|               22414|
|2009|  9|             873431|               672|                4786|
|2009|  7|             452301|               354|                5455|
|2009|  7|             242102|                99|                 896|
|2009|  1|             870602|               315|                2108|
|2009| 12|             906251|               569|                5748|
|2009|  9|             372501|                25|                 237|
|2009| 11|             902202|                33|                 416|
|2009|  5|             890703|              7775|               61471|
|2009|  2|             881201|              2006|               14627|
|2009|  4|             560100|                18|                 291|
|2009|  1|             873412|              1042|                9063|
|2009|  7|             904509|               295|                2869|
|2009|  6|             702200|               510|                4977|
|2009|  3|             901230|                 5|                  59|
|2009|  9|             549800|                 9|                 299|
|2009|  5|             906129|               248|                3153|
|2009|  4|             883230|               201|                2212|
|2009|  8|             740300|                12|                 351|
|2009|  4|             690102|                64|                 898|
|2009|  6|             640000|               144|                1160|
|2009| 11|             890306|              2086|               36981|
|2009|  7|             990112|              1245|                9321|
|2009|  4|             903820|                61|                1415|
|2009|  5|             890209|               230|                7239|
|2009|  8|             991800|               177|                1808|
|2009|  2|             865203|               103|                 530|
|2009| 11|             876802|              3522|               23079|
|2009|  7|             990104|              1749|               15208|
|2009| 12|             901107|              1317|               15923|
|2009|  7|             612100|                18|                 296|
|2009| 12|             902049|               691|               14061|
|2009|  2|             048101|                 4|                  89|
|2009| 10|             943102|               252|                4587|
|2009| 12|             586300|                24|                 117|
|2009|  2|             904108|               273|                2866|
|2009|  7|             890210|               100|                9757|
|2009| 11|             021201|               104|                 398|
|2009|  1|             905201|                45|                 868|
|2009|  4|             890311|               410|                6979|
|2009| 10|             231200|               389|                2798|
|2009|  6|             873420|              1247|                9424|
|2009|  7|             907107|              4021|               44669|
|2009|  6|             904508|              1752|               17579|
|2009|  1|             906249|              1520|               17722|
|2009|  7|             891508|               188|                3059|
|2009| 10|             663100|               579|                8418|
|2009|  4|             901005|                12|                 131|
|2009| 12|             990205|               296|                3086|
|2009| 12|             881332|               940|                9260|
|2009|  6|             230201|              1026|                8958|
|2009|  8|             904922|               117|                1755|
|2009| 12|             935100|                94|                 762|
|2009| 11|             871030|               210|                1753|
|2009|  9|             231301|               137|                1007|
|2009| 11|             904903|               874|               10390|
|2009|  1|             873313|               277|                1982|
|2009|  1|             230201|              1183|                8397|
|2009|  8|             870107|               270|                1885|
|2009|  3|             881306|               549|                5654|
|2009|  2|             903833|               196|                3694|
|2009|  3|             637300|               250|                1078|
|2009| 10|             895100|              4396|               51851|
|2009|  9|             904508|              1991|               18695|
|2009| 10|             879420|               209|                4078|
|2009| 10|             579400|               127|                2500|
|2009| 12|             863101|               640|                3471|
|2009|  1|             872002|               572|                5330|
|2009| 10|             870452|                59|                 681|
|2009|  5|             920901|               168|                2625|
|2009|  1|             893106|                99|                 439|
|2009|  1|             311100|                49|                 653|
|2009| 12|             881112|                66|                 639|
|2009|  3|             870108|              1129|                8090|
|2009| 12|             786902|                10|                  34|
|2009|  6|             684000|               110|                1619|
|2009|  8|             892001|                78|                1323|
|2009|  7|             903833|               159|                3646|
|2009| 10|             870602|               239|                1478|
|2009|  9|             954311|                12|                 147|
|2009|  8|             673401|                34|                 482|
|2009|  4|             860102|                44|                 594|
|2009|  3|             793402|                10|                 112|
|2009|  3|             247300|                 3|                  14|
|2009|  5|             869500|               462|                5333|
|2009|  6|             865101|              1805|               13651|
|2009| 10|             543100|                13|                 132|
|2009|  3|             886011|               166|                2532|
|2009|  3|             042307|                 1|                   3|
|2009|  7|             990101|               354|               13332|
|2009|  9|             300202|                10|                  85|
|2009|  5|             891508|               186|                2928|
+----+---+-------------------+------------------+--------------------+
only showing top 100 rows

Nombres de las columnas agrupadas:
['Año', 'Mes', 'codigoprocedimiento', 'Número_de_Personas', 'Número_de_Atenciones']

In [395]:
#se escribe el parquet tabla 7
result_df.write.parquet("hdfs:/analyticsdata/7.Tabla_anio_mes_codigoprocedimiento_Todos.parquet")

# 8. Agrupado por año, mes, municipio y sexo

In [396]:
# Seleccionar solo las columnas deseadas
columns_to_keep = [
    'personaid', 'codigoprocedimiento', 'tipoeventoripsdesc', 'fechaid',
    'sexodesc', 'tipodiagnosticoprincipalcd', 'edad', 'dxegreso', 'dxprincipal', 'municipiocd', 'personaid_count'
]
df_filtered = df2.select(*columns_to_keep)

# Convertir 'fechaid' a tipo fecha si es necesario
df_filtered = df_filtered.withColumn('fechaid', F.to_date('fechaid', 'yyyyMMdd'))

# Extraer año y mes de la columna 'fechaid'
df_filtered = df_filtered.withColumn('Año', F.year('fechaid'))
df_filtered = df_filtered.withColumn('Mes', F.month('fechaid'))

# Agrupar por año, mes y codigoprocedimiento
result_df = df_filtered.groupBy('Año', 'Mes', 'municipiocd','sexodesc').agg(
    F.countDistinct('personaid').alias('Número_de_Personas'),
    F.sum('personaid_count').alias('Número_de_Atenciones')
)

# Mostrar los resultados
result_df.show(100)

# Imprimir los nombres de las columnas agrupadas para verificar
print("Nombres de las columnas agrupadas:")
print(result_df.columns)

+----+---+-----------+---------+------------------+--------------------+
| Año|Mes|municipiocd| sexodesc|Número_de_Personas|Número_de_Atenciones|
+----+---+-----------+---------+------------------+--------------------+
|2009|  6|      68001| FEMENINO|             14904|              187530|
|2009|  3|      15476|MASCULINO|               261|                1375|
|2009| 11|      47058| FEMENINO|               984|                7702|
|2009|  7|      15087|MASCULINO|                83|                 306|
|2009| 10|      52019| FEMENINO|               259|                4642|
|2009|  9|      73055| FEMENINO|               144|                1736|
|2009| 12|      25200|MASCULINO|               112|                 776|
|2009|  8|      86001| FEMENINO|               462|                3857|
|2009|  4|      25839|MASCULINO|               324|                1648|
|2009|  8|      15632| FEMENINO|               371|                4989|
|2009| 12|      17380|MASCULINO|              1434|               13934|
|2009|  6|      52435|MASCULINO|               243|                1805|
|2009| 11|      41872|MASCULINO|               304|                1392|
|2009|  4|      15232|MASCULINO|                51|                 210|
|2009| 10|      41615| FEMENINO|                81|                1249|
|2009|  8|      76122|MASCULINO|               503|                5866|
|2009| 12|      50006|MASCULINO|               288|                1717|
|2009|  3|      52399|MASCULINO|               942|                6603|
|2009| 12|      76109| FEMENINO|              4301|               39939|
|2009|  4|      52378|MASCULINO|               325|                2189|
|2009|  7|      76122| FEMENINO|               508|                7530|
|2009|  9|      68051| FEMENINO|               385|                2125|
|2009|  1|      70820| FEMENINO|               490|                3340|
|2009|  2|      20710|MASCULINO|               667|                4029|
|2009| 10|      25875|MASCULINO|               396|                4432|
|2009| 10|      68547| FEMENINO|              1515|               13194|
|2009|  9|      73168|MASCULINO|               934|                6057|
|2009|  1|      76403| FEMENINO|               182|                 921|
|2009|  3|      08573|MASCULINO|               237|                1279|
|2009|  8|      52411| FEMENINO|               385|                5493|
|2009| 12|      50573| FEMENINO|               142|                 911|
|2009|  1|      41396| FEMENINO|              1233|                6905|
|2009|  2|      20517| FEMENINO|               287|                4702|
|2009| 11|      70820|MASCULINO|               214|                 890|
|2009| 10|      05483| FEMENINO|               449|                4043|
|2009|  9|      05607| FEMENINO|               228|                2052|
|2009| 10|      52256| FEMENINO|               126|                 930|
|2009|  5|      15087|     null|                 3|                  17|
|2009|  8|      25745|MASCULINO|                46|                 207|
|2009|  7|      68179| FEMENINO|               115|                 738|
|2009|  1|      44430|     null|                19|                  64|
|2009|  8|      76109| FEMENINO|              7650|               63483|
|2009|  9|      05642| FEMENINO|               302|                3024|
|2009|  7|      20770| FEMENINO|               502|                4016|
|2009|  3|      15001|MASCULINO|              3868|               30118|
|2009|  6|      52378| FEMENINO|               509|                6286|
|2009|  6|      19001| FEMENINO|              3288|               29364|
|2009| 10|      08078|MASCULINO|               671|                3886|
|2009| 12|      47189|MASCULINO|               541|                2935|
|2009|  3|      85250| FEMENINO|               246|                1875|
|2009|  7|      19450| FEMENINO|               178|                2953|
|2009| 10|      68255|MASCULINO|               254|                1083|
|2009|  6|      68385|MASCULINO|               194|                1163|
|2009|  6|      20383|MASCULINO|               435|                1853|
|2009|  2|      18610|MASCULINO|               103|                 513|
|2009|  1|      52699| FEMENINO|               243|                3116|
|2009| 10|      25053| FEMENINO|               378|                4266|
|2009|  4|      41872|MASCULINO|               321|                1771|
|2009| 12|      05197|MASCULINO|               119|                 907|
|2009| 12|      19743| FEMENINO|               733|                3019|
|2009|  1|      13580| FEMENINO|               301|                 963|
|2009|  8|       null| FEMENINO|              7238|               94895|
|2009|  1|      15001|     null|               114|                 876|
|2009|  3|      68655|MASCULINO|               494|                2204|
|2009|  2|      17001|     null|               181|                 952|
|2009|  5|      13620|     null|                12|                  28|
|2009|  3|      68307| FEMENINO|              1718|               14614|
|2009|  2|      47001|MASCULINO|              5798|               38311|
|2009|  2|      73449|MASCULINO|               418|                2675|
|2009|  3|      23807|MASCULINO|               424|                1743|
|2009|  1|      25754|MASCULINO|              3674|               18118|
|2009| 11|      52258| FEMENINO|               638|                3572|
|2009| 12|      52354|MASCULINO|               181|                1069|
|2009| 11|      18753| FEMENINO|              1068|               10508|
|2009|  2|      08296|MASCULINO|               360|                2626|
|2009|  7|      15755| FEMENINO|               295|                1299|
|2009| 10|      47245|MASCULINO|              1226|                7304|
|2009|  4|      25491| FEMENINO|                27|                 159|
|2009|  6|      41503| FEMENINO|               433|                1483|
|2009|  6|      17042|MASCULINO|                43|                 312|
|2009|  6|      25001|MASCULINO|                99|                 913|
|2009|  7|      15047| FEMENINO|               241|                1118|
|2009| 10|      70820|MASCULINO|               168|                 917|
|2009|  5|      23168| FEMENINO|               395|                 899|
|2009| 10|      66687|MASCULINO|               151|                2466|
|2009|  5|      41530| FEMENINO|               145|                 854|
|2009|  1|      76111|     null|                27|                 194|
|2009| 12|      47660|     null|                12|                  24|
|2009|  9|      68679|MASCULINO|              1439|                9127|
|2009|  5|      41668|MASCULINO|               741|                8949|
|2009|  6|      73349| FEMENINO|               411|                2641|
|2009| 10|      05658| FEMENINO|               102|                 307|
|2009|  1|      23001|MASCULINO|              4711|               28568|
|2009|  8|      44001|MASCULINO|               687|                3689|
|2009|  9|      86757| FEMENINO|               194|                1309|
|2009| 10|      23300|MASCULINO|               268|                1233|
|2009| 12|      15236| FEMENINO|                50|                 306|
|2009|  7|      15861| FEMENINO|               257|                1051|
|2009|  1|      68255| FEMENINO|               297|                1920|
|2009| 12|      18592|MASCULINO|               533|                2592|
+----+---+-----------+---------+------------------+--------------------+
only showing top 100 rows

Nombres de las columnas agrupadas:
['Año', 'Mes', 'municipiocd', 'sexodesc', 'Número_de_Personas', 'Número_de_Atenciones']

In [397]:
#se escribe el parquet tabla 8
result_df.write.parquet("hdfs:/analyticsdata/8.Tabla_anio_mes_municipio_sexo_Todos.parquet")

# 9. Agrupado por año, mes, tipoeventorips y sexo

In [398]:
# Seleccionar solo las columnas deseadas
columns_to_keep = [
    'personaid', 'codigoprocedimiento', 'tipoeventoripsdesc', 'fechaid',
    'sexodesc', 'tipodiagnosticoprincipalcd', 'edad', 'dxegreso', 'dxprincipal', 'municipiocd', 'personaid_count'
]
df_filtered = df2.select(*columns_to_keep)

# Convertir 'fechaid' a tipo fecha si es necesario
df_filtered = df_filtered.withColumn('fechaid', F.to_date('fechaid', 'yyyyMMdd'))

# Extraer año y mes de la columna 'fechaid'
df_filtered = df_filtered.withColumn('Año', F.year('fechaid'))
df_filtered = df_filtered.withColumn('Mes', F.month('fechaid'))

# Agrupar por año, mes y codigoprocedimiento
result_df = df_filtered.groupBy('Año', 'Mes', 'tipoeventoripsdesc','sexodesc').agg(
    F.countDistinct('personaid').alias('Número_de_Personas'),
    F.sum('personaid_count').alias('Número_de_Atenciones')
)

# Mostrar los resultados
result_df.show(100)

# Imprimir los nombres de las columnas agrupadas para verificar
print("Nombres de las columnas agrupadas:")
print(result_df.columns)

+----+----+--------------------+-----------+------------------+--------------------+
| Año| Mes|  tipoeventoripsdesc|   sexodesc|Número_de_Personas|Número_de_Atenciones|
+----+----+--------------------+-----------+------------------+--------------------+
|2009|   1|PROCEDIMIENTOS DE...|   FEMENINO|            255549|             2734138|
|2009|   4|PROCEDIMIENTOS DE...|   FEMENINO|            224726|             2645121|
|2009|   3|           CONSULTAS|   FEMENINO|            609038|             5284901|
|2009|   6|   HOSPITALIZACIONES|   FEMENINO|             10304|              200734|
|2009|  11|           CONSULTAS|   FEMENINO|            461845|             4064412|
|2009|  10|   HOSPITALIZACIONES|  MASCULINO|              9804|              175150|
|2009|   9|PROCEDIMIENTOS DE...|   FEMENINO|            255516|             3067780|
|2009|   9|           URGENCIAS|   FEMENINO|             25062|              261357|
|2009|   6|           CONSULTAS|       null|              8229|               57023|
|2009|   2|PROCEDIMIENTOS DE...|       null|              2313|               19159|
|2009|   8|PROCEDIMIENTOS DE...|       null|              2606|               24116|
|2009|   4|   HOSPITALIZACIONES|  MASCULINO|              6066|              114690|
|2009|  10|PROCEDIMIENTOS DE...|       null|              2987|               22590|
|2009|   5|           CONSULTAS|   FEMENINO|            541900|             5086979|
|2009|   1|           CONSULTAS|NO DEFINIDO|                38|                  86|
|2009|   3|           URGENCIAS|  MASCULINO|             20137|              147139|
|2009|   2|PROCEDIMIENTOS DE...|   FEMENINO|            248261|             2666124|
|2009|  12|PROCEDIMIENTOS DE...|  MASCULINO|            200586|             1770584|
|2009|  11|           CONSULTAS|  MASCULINO|            332803|             2194147|
|2009|  10|PROCEDIMIENTOS DE...|  MASCULINO|            174392|             1519859|
|2009|  10|           CONSULTAS|   FEMENINO|            450862|             4130298|
|2009|   4|           CONSULTAS|       null|              8482|               54298|
|2009|   8|           CONSULTAS|  MASCULINO|            402969|             2757111|
|2009|   7|           URGENCIAS|   FEMENINO|             26132|              283765|
|2009|   2|   HOSPITALIZACIONES|   FEMENINO|             10685|              166304|
|2009|  11|PROCEDIMIENTOS DE...|       null|              3294|               24122|
|2009|   5|   HOSPITALIZACIONES|   FEMENINO|             10499|              203187|
|2009|   3|           URGENCIAS|   FEMENINO|             21439|              223675|
|2009|  11|           URGENCIAS|   FEMENINO|             18166|              220927|
|2009|   3|PROCEDIMIENTOS DE...|  MASCULINO|            171493|             1607476|
|2009|  10|           URGENCIAS|  MASCULINO|             24106|              176614|
|2009|  12|           URGENCIAS|       null|               297|                2094|
|2009|   4|           URGENCIAS|       null|               368|                2644|
|2009|   6|           URGENCIAS|  MASCULINO|             24116|              184152|
|2009|  12|           URGENCIAS|   FEMENINO|             19633|              217511|
|2009|   9|PROCEDIMIENTOS DE...|  MASCULINO|            171505|             1743798|
|2009|   1|           CONSULTAS|   FEMENINO|            598785|             5163769|
|2009|   9|PROCEDIMIENTOS DE...|       null|              2890|               26770|
|2009|   9|   HOSPITALIZACIONES|       null|                84|                 862|
|2009|   3|   HOSPITALIZACIONES|NO DEFINIDO|                 6|                   8|
|2009|   6|           URGENCIAS|       null|               646|                3883|
|2009|  12|           CONSULTAS|       null|              6624|               40026|
|2009|   9|           URGENCIAS|       null|               691|                4115|
|2009|   4|           URGENCIAS|  MASCULINO|             16054|              137586|
|2009|   4|           CONSULTAS|  MASCULINO|            419628|             2836193|
|2009|   2|           CONSULTAS|   FEMENINO|            564026|             4987959|
|2009|   6|   HOSPITALIZACIONES|  MASCULINO|              6459|              116081|
|2009|  11|PROCEDIMIENTOS DE...|  MASCULINO|            191434|             1537020|
|2009|   8|PROCEDIMIENTOS DE...|  MASCULINO|            159500|             1638379|
|2009|   3|PROCEDIMIENTOS DE...|       null|              2663|               30748|
|2009|   7|           URGENCIAS|       null|               654|                4319|
|2009|   5|PROCEDIMIENTOS DE...|NO DEFINIDO|                14|                  66|
|2009|   5|           CONSULTAS|       null|              8592|               54736|
|2009|   1|           URGENCIAS|   FEMENINO|             18883|              181911|
|2009|   9|           CONSULTAS|   FEMENINO|            575960|             5839165|
|2009|   5|PROCEDIMIENTOS DE...|  MASCULINO|            152772|             1514079|
|2009|   4|           URGENCIAS|   FEMENINO|             17198|              199032|
|2009|  10|           URGENCIAS|   FEMENINO|             23652|              240903|
|2009|   8|   HOSPITALIZACIONES|   FEMENINO|             10247|              225159|
|2009|   3|   HOSPITALIZACIONES|  MASCULINO|              6967|              119363|
|2009|   7|           CONSULTAS|       null|              9606|               57118|
|2009|   1|PROCEDIMIENTOS DE...|  MASCULINO|            164677|             1494102|
|2009|  11|   HOSPITALIZACIONES|   FEMENINO|             14164|              234127|
|2009|   1|   HOSPITALIZACIONES|       null|                98|                 735|
|2009|   6|PROCEDIMIENTOS DE...|NO DEFINIDO|                17|                  46|
|2009|   3|           CONSULTAS|NO DEFINIDO|                30|                 103|
|2009|   2|   HOSPITALIZACIONES|       null|                75|                 997|
|2009|   8|           URGENCIAS|NO DEFINIDO|                12|                  32|
|2009|   7|           URGENCIAS|NO DEFINIDO|                10|                  21|
|2009|   3|PROCEDIMIENTOS DE...|NO DEFINIDO|                25|                  99|
|2009|   8|           CONSULTAS|NO DEFINIDO|                36|                 140|
|2009|  12|           CONSULTAS|NO DEFINIDO|                21|                  55|
|2009|   8|   HOSPITALIZACIONES|NO DEFINIDO|                 2|                   3|
|2009|   1|           URGENCIAS|NO DEFINIDO|                 7|                  11|
|2009|   2|PROCEDIMIENTOS DE...|NO DEFINIDO|                12|                  41|
|2009|   9|           URGENCIAS|NO DEFINIDO|                 6|                  16|
|2009|   5|           URGENCIAS|NO DEFINIDO|                 8|                  10|
|2009|   6|           URGENCIAS|NO DEFINIDO|                 8|                  38|
|2009|   9|PROCEDIMIENTOS DE...|NO DEFINIDO|                16|                  61|
|2009|   7|           CONSULTAS|NO DEFINIDO|                26|                 143|
|2009|  11|   HOSPITALIZACIONES|NO DEFINIDO|                 4|                  15|
|null|null|                null|       null|                 2|                   2|
|2009|   6|   HOSPITALIZACIONES|NO DEFINIDO|                 2|                   5|
|2009|   2|           URGENCIAS|   FEMENINO|             15429|              164587|
|2009|   8|           URGENCIAS|   FEMENINO|             26989|              278290|
|2009|   5|           URGENCIAS|       null|               574|                3894|
|2009|   8|           CONSULTAS|       null|              8599|               52559|
|2009|   5|   HOSPITALIZACIONES|  MASCULINO|              6435|              118608|
|2009|   7|PROCEDIMIENTOS DE...|       null|              2790|               24466|
|2009|   9|           CONSULTAS|  MASCULINO|            451296|             3040243|
|2009|   6|           CONSULTAS|  MASCULINO|            404193|             2742801|
|2009|   2|           URGENCIAS|  MASCULINO|             14041|              110964|
|2009|   5|           CONSULTAS|  MASCULINO|            423427|             2844067|
|2009|   5|PROCEDIMIENTOS DE...|   FEMENINO|            233609|             2751793|
|2009|  11|   HOSPITALIZACIONES|  MASCULINO|              9671|              129507|
|2009|  12|PROCEDIMIENTOS DE...|       null|              3204|               22952|
|2009|   1|   HOSPITALIZACIONES|  MASCULINO|              7939|              101071|
|2009|   7|PROCEDIMIENTOS DE...|   FEMENINO|            269760|             3147500|
|2009|  10|           URGENCIAS|       null|               506|                3032|
|2009|  12|           CONSULTAS|   FEMENINO|            469030|             4067781|
+----+----+--------------------+-----------+------------------+--------------------+
only showing top 100 rows

Nombres de las columnas agrupadas:
['Año', 'Mes', 'tipoeventoripsdesc', 'sexodesc', 'Número_de_Personas', 'Número_de_Atenciones']

In [399]:
#se escribe el parquet tabla 9
result_df.write.parquet("hdfs:/analyticsdata/9.Tabla_anio_mes_tipoeventoripsdesc_sexo_Todos.parquet")

se comprueba que el archivo quedo guardado correctamente al leerlo

In [400]:
# Leer el archivo .parquet y se guarda en un DataFrame
df_leer = spark.read.parquet("hdfs:/analyticsdata/9.Tabla_anio_mes_tipoeventoripsdesc_sexo_Todos.parquet")

# Mostrar el contenido del DataFrame
df_leer.show()

+----+---+--------------------+---------+------------------+--------------------+
| Año|Mes|  tipoeventoripsdesc| sexodesc|Número_de_Personas|Número_de_Atenciones|
+----+---+--------------------+---------+------------------+--------------------+
|2009|  2|           URGENCIAS| FEMENINO|             15554|              172547|
|2009|  8|           URGENCIAS| FEMENINO|             26694|              279334|
|2009|  5|           URGENCIAS|     null|               572|                3990|
|2009|  8|           CONSULTAS|     null|              8542|               53237|
|2009|  5|   HOSPITALIZACIONES|MASCULINO|              6336|              112052|
|2009|  7|PROCEDIMIENTOS DE...|     null|              2849|               25528|
|2009|  6|           CONSULTAS|MASCULINO|            404998|             2686651|
|2009|  9|           CONSULTAS|MASCULINO|            453228|             3028436|
|2009|  2|           URGENCIAS|MASCULINO|             14054|              109938|
|2009|  5|           CONSULTAS|MASCULINO|            423619|             2841650|
|2009|  5|PROCEDIMIENTOS DE...| FEMENINO|            233582|             2740659|
|2009| 11|   HOSPITALIZACIONES|MASCULINO|              9530|              122711|
|2009| 12|PROCEDIMIENTOS DE...|     null|              3226|               24279|
|2009|  1|   HOSPITALIZACIONES|MASCULINO|              7706|               97452|
|2009|  7|PROCEDIMIENTOS DE...| FEMENINO|            269856|             3166354|
|2009| 10|           URGENCIAS|     null|               490|                2755|
|2009| 12|           CONSULTAS| FEMENINO|            470301|             4059189|
|2009|  5|           URGENCIAS| FEMENINO|             21024|              241584|
|2009| 12|           CONSULTAS|MASCULINO|            337535|             2207434|
|2009| 10|           CONSULTAS|     null|              6837|               42054|
+----+---+--------------------+---------+------------------+--------------------+
only showing top 20 rows

In [9]:
spark.stop()